[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  background: #CCC;
  color: black;
}

.mapa {
  background: url('../public/mapa.png') no-repeat;
  margin: auto;
  height: 60vh;
  width: 60vw;
  background-size: contain;
}

.mapa .container {
  width: 100%;
  height: 100%;
  position: relative;
}

.puntito {
  border-radius: 50%;
  height: 3vh;
  width: 3vh;
  position: absolute;
  transform: translate(-50%, -50%);
}

.puntito.hay {
  background: green;
  border: 2px solid greenyellow;
}

.puntito.noHay {
  background: red;
  border: 2px solid rebeccapurple;
}